@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Arima&family=Indie+Flower&family=Rubik+Moonrocks&display=swap");

body {
  margin: 0;
  background-color: lightgoldenrodyellow;
  font-family: Arima, Arial, Helvetica, sans-serif;
}

#my-canvas {
  background-color: darkgray;
}

#splash-screen {
  justify-content: center;
}

#splas-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-color: #6d4327;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-evenly;
  align-items: center;
  margin: 50px;
  border: solid 3px #6d4327;
  border-radius: 5px;
  padding: 20px;
}

#game-canvas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  width: 600px;
}

#game-over-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#bunny-game-over-bad {
  margin-left: 40px;
}

#bunny-game-over-good {
  margin-left: 40px;
}

#my-canvas {
  display: none;
  border-radius: 5px;
}

#gameover-game {
  border: solid 3px #6d4327;
  border-radius: 5px;
  padding: 5px;
  border: 5px;
  margin: 5px;
}

#gameover-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#bunny-game-over,
#bunny-game-over2 {
  display: none;
}

#time {
  background-color: #ff6347;
  border-color: #6d4327;
  padding: 5px 10px;
  font-family: "Arima";
  font-size: 14px;
  font: bold;
  color: #6d4327;
  display: none;
  position: initial;
  border-radius: 10px;
}

#score {
  background-color: #ff6347;
  border-color: #6d4327;
  padding: 5px 10px;
  font-family: "Arima";
  font-size: 14px;
  font: bold;
  color: #6d4327;
  display: none;
  position: initial;
  border-radius: 10px;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#title-time {
  color: #6d4327;
  position: relative;
  font-size: 16px;
  display: none;
  background-position-x: right;
}

#title-score {
  color: #6d4327;
  position: relative;
  font-size: 16px;
  display: none;
  background-position-x: left;
  padding: 5px;
}

.title-game {
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  font-family: "Indie Flower";
  color: #ff6347;
  text-align: center;
  margin: 10px;
}

.title-game-over {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  font-family: "Indie Flower";
  color: #ff6347;
  text-align: center;
  word-spacing: 8px;
}

#game-screen {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.p {
  color: #6d4327;
  font-family: "Arima";
  line-height: normal;
  margin: 8px;
}

#start-btn {
  display: flex;
  border-color: #6d4327;
  background-color: #ff6347;
  padding: 15px 15px;
  font-family: "Indie Flower";
  font-size: 24px;
  color: #6d4327;
  border-radius: 15px;
  font-weight: bold;
  margin: 15px;
}

#return-splash {
  border-color: #6d4327;
  background-color: #ff6347;
  padding: 15px 15px;
  font-family: "Indie Flower";
  font-size: 24px;
  font-weight: bold;
  color: #6d4327;
  border-radius: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin: 15px;
}

#restart-btn {
  border-color: #6d4327;
  background-color: #ff6347;
  padding: 15px 15px;
  font-family: "Indie Flower";
  font-size: 24px;
  font-weight: bold;
  color: #6d4327;
  border-radius: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin: 15px;
}

#input-btn {
  border-color: #6d4327;
  background-color: #ff6347;
  padding: 5px 5px;
  font-family: "Lucida Sans";
  font-size: 14px;
  color: #6d4327;
  border-radius: 5px;
}
