

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Arima&family=Indie+Flower&family=Rubik+Moonrocks&display=swap');

body {
    margin:0;
    background-color: lightgoldenrodyellow;
    font-family: Arima, Arial, Helvetica, sans-serif;
}

#my-canvas {
    background-color: darkgray;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }


#my-canvas{
    display:none;
}
 

#gameover-screen {
    display:none;
    flex-direction:column;
}

#bunny-game-over, #bunny-game-over2{
    display:none;
}


  
#time {
    background-color:#FF6347;
    border-color: #6d4327;
    padding: 5px 5px;
    font-family: 'Arima';
    font-size: 14px;
    font: bold;
    color: #6d4327;
    display: none;
    position:initial;

}

#score {
    background-color:#FF6347;
    border-color: #6d4327;
    padding: 5px 5px;
    font-family: 'Arima';
    font-size: 14px;
    font: bold;
    color: #6d4327;
    display: none;
    position:initial;
    
}

#title-time{
    color: #6d4327;
    position: relative;
    font-size: 14px;
    display:none;
    background-position-x: right;
}

#title-score{
    color: #6d4327;
    position: relative;
    font-size: 14px;
    display:none;
    background-position-x: left;
}

.title-game{
    
    font-size: 34px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Indie Flower';
    color: #FF6347;
    text-align:center;
    word-spacing: 8px
    
}

#game-screen{
    display: flex;
    flex-direction: column;
}

.p{
    color: #6d4327;
    font-family: 'Arima';

}

#start-btn{
    border-color: #6d4327;
    background-color:#FF6347;
    padding: 15px 15px;
    font-family: 'Indie Flower';
    font-size: 24px;
    color: #6d4327;
    border-radius: 15px;
    font-weight: bold;
       
}

#return-splash{
    border-color: #6d4327;
    background-color:#FF6347;
    padding: 15px 15px;
    font-family: 'Indie Flower';
    font-size: 24px;
    font-weight: bold;
    color: #6d4327;
    border-radius: 15px;
}

#restart-btn{
    border-color: #6d4327;
    background-color:#FF6347;
    padding: 15px 15px;
    font-family: 'Indie Flower';
    font-size: 24px;
    font-weight: bold;
    color: #6d4327;
    border-radius: 15px;
}

#input-btn{
    border-color: #6d4327;
    background-color:#FF6347;
    padding: 5px 5px;
    font-family: 'Lucida Sans';
    font-size: 14px;
    color: #6d4327;
    border-radius: 5px;
}
